/* External CSS Stylesheet for Recipes Page */

.green {
    background-color: rgb(0, 255, 55);
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.heading {
    text-align: center;
    font-weight: bold;
}

h1 {
    color: red
}

h2 {
    color: blue
}

p,
ul,
ol {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}